ger standardskærmtastaturet"
	"SettingsKeyboard_DTSuggest_SuggestTypoCorrection"		"Kom med forslag baseret på nærliggende taster"
	"SettingsKeyboard_DTSuggest_SuggestNoTypoCorrection"	"Vis kun forslag baseret på det, der er indtastet"
	"SettingsKeyboard_DTSuggest_NoSuggestions"				"Vis ikke forslag"
	"SettingsKeyboard_UseSystemLanguage"					"(brug systemsprog)"

	"SteamUI_NetworkLoginNeeded_Title"	"Log på dit netværk"

	"Overlay_Friend_Notifications_Invites"		"Venneinvitationer"
	"Overlay_Friend_Notifications_More_Unread"		"Chatsamtaler"
	"Overlay_Friend_Notifications_More_Unread_Chats_Plural"		"{d:unreadchats} flere chats"
	"Overlay_Friend_Notifications_More_Unread_Chats"			"1 mere chat"
	"Overlay_Friend_Notifications_More_Unread_Invites_Plural"	"{d:unreadinvites} flere invitationer"
	"Overlay_Friend_Notifications_More_Unread_Invites"			"1 mere invitation"
	"Overlay_Friend_Notifications_Game_Invite"		"Inviterede dig til at spille"
	"Overlay_Friend_Notifications_Voice_Chat"		"Stemmechat aktiv"
	"Overlay_Friend_Notifications_Voice_Chat_On_Hold"	"Stemmechat sat på pause"
	"Overlay_Friend_Notifications_Voice_Chat_Ringing"	"Indgående..."
	"Overlay_Friend_Notifications_Voice_Chat_Dialing"	"Ringer..."

	"Overlay_SteamControllerHUD_HelpText"	"Steam Controller-inputhjælper - Tryk på Steam-knappen for at slå fra"
	"Overlay_ToggleControllerHUD" "Slå controller-HUD til/fra"

	"Steam_Browser_Disabled" "Steam-browseren er slået fra. Benyt venligst Steam Support-siden for at få mere information."

	"SettingsBluetooth_Intro" "Søger efter Bluetooth-enheder. Sørg venligst for, at din enhed er synlig."
	"Settings_Bluetooth_Type" "Type"
	"Settings_Bluetooth_Name" "Navn"
	"Settings_Bluetooth_Connection" "Status"
	"Settings_BluetoothManagement_UnPair" "SLET"
	"Settings_BluetoothManagement_Connect" "TILSLUT"
	"Settings_Bluetooth_NoDevices" "Ingen Bluetooth-enheder fundet"
	"SettingsBluetoothManagement_Pairing_Title" "Tilslutter {s:devicename}"
	"SettingsBluetoothManagement_Pairing_Description" "Forsøger at tilslutte {s:devicename}"
	"SettingsBluetoothManagement_UnPairing_Title" "Fjern tilknytning til {s:devicename}"
	"SettingsBluetoothManagement_UnPairing_Description" "Er du sikker på at du vil afbryde forbindelsen til {s:devicename}? Du skal tilknytte enheden igen, hvis du vil bruge den."

	"SettingsBluetoothDevice_Type_Phone" "Telefon"
	"SettingsBluetoothDevice_Type_Computer" "Computer"
	"SettingsBluetoothDevice_Type_Headset" "Headset"
	"SettingsBluetoothDevice_Type_Headphones" "Hovedtelefoner"
	"SettingsBluetoothDevice_Type_Speakers" "Højttalere"
	"SettingsBluetoothDevice_Type_OtherAudio" "Anden lyd"
	"SettingsBluetoothDevice_Type_Keyboard" "Tastatur"
	"SettingsBluetoothDevice_Type_Mouse" "Mus"
	"SettingsBluetoothDevice_Type_Joystick" "Joystick"
	"SettingsBluetoothDevice_Type_Gamepad" "Gamepad"
	"SettingsBluetoothDevice_Type_Unknown" "Ukendt"

	"ControllerBLEUpdate_Rollback" "TILBAGEFØR FIRMWARE"
	"ControllerBLERollback_Title" "Tilbageførsel af Steam Controller-firmware"
	"ControllerBLERollback_Body" "Dette vil gendanne Steam Controllerens almindelige firmware. Dette kan kun udføres gennem en trådet forbindelse. Gendannelse tager ca. et minut og kan ikke afbrydes.\n\nAfbryd ikke din enhed, da den ellers kan blive beskadiget!"
	"ControllerBLERollback_Title_Done" "Tilbageførsel af Steam Controller-firmware gennemført"
	"ControllerBLERollback_Body_Done" "Din enhed er nu gendannet til normal drift."
	"ControllerBLERollback_Button_Done" "Færdig"
	"ControllerBLEUpdate_Title" "Steam Controller - BLE-opdatering"
	"ControllerBLEUpdate_Body" "Dette gør Steam Controlleren i stand til at forbinde til mobile enheder via Bluetooth Low Energy. Dette vil tage adskillige minutter og kan kun udføres gennem en trådet forbindelse. \n\nAfbryd ikke din enhed, da den kan blive beskadiget!"
	"ControllerBLEUpdate_Title_Part2" "Firmware-opdatering i gang"
	"ControllerBLEUpdate_Body_Part2" "Afbryd ikke din enhed, da den ellers kan blive beskadiget!"
	"ControllerBLEUpdate_Title_Done" "Steam Controller - BLE-opdatering gennemført"
	"ControllerBLEUpdate_Body_Done" "Din controller kan nu bruges i enten BLE- eller trådløs modtagertilstand. For at få flere oplysninger om, hvordan du bruger de nye funktioner til din Steam Controller, skal du vælge knappen \"Lær mere\" nedenfor."
	"ControllerBLEUpdate_Error_Title" "Firmware-opdateringsfejl!"
	"ControllerBLEUpdate_Error_USB" "Fejl: Indsæt venligst i USB"
	"ControllerBLEUpdate_Error_Body" "Sørg for, at din enhed er tilsluttet, og tryk på tilbageføringsknappen"
	"ControllerBLEUpdate_Button_Done" "Lær mere"
	"ControllerBLEUpdate_BLEFW" "BLUETOOTH-FW."

	"SettingsController_SteamDongleVersionBluetoothLE" "Tilsluttet via Bluetooth Low Energy"
	"BluetoothManager_DeviceState_Connected"	"tilsluttet"
	"BluetoothManager_DeviceState_Paired"	"parret"
	"BluetoothManager_DeviceState_Unpaired"	"ikke parret"
	"SSA_Accept"	"Accepter"
	"SSA_Decline"	"Afvis"
	"ChooseBinding_VolumeUp" "vol+"
	"ChooseBinding_VolumeDown" "vol-"
	"ChooseBinding_VolumeMute" "mute"
	"ChooseBinding_MusicPlay"	"▶"
	"ChooseBinding_MusicStop"	"◼"
	"ChooseBinding_MusicNextTrack"	"⏭"
	"ChooseBinding_MusicPrevTrack"	"⏮"
	"ChooseBinding_Backspace"	"⟵"
	"ChooseBinding_Insert"	"ins"
	"ChooseBinding_Home"	"hom"
	"ChooseBinding_PageUp"	"pgu"
	"ChooseBinding_PageDown" "pgd"
	"ChooseBinding_Enter"	"enter"
	"ChooseBinding_EnterKeyPad"	"ent"
	"ChooseBinding_Shift"	"shift"
	"ChooseBinding_Alt"	"alt"
	"ChooseBinding_Windows"	"win"
	"ChooseBinding_Space"	"mellemrum"
	"ChooseBinding_Control"	"ctrl"
	"ChooseBinding_End"	"end"
	"ChooseBinding_Delete"	"del"
	"ChooseBinding_Tab"	"tab"
	"ChooseBinding_Capslock"	"caps"
	"ChooseBinding_Break"	"brk"
	"ChooseBinding_PrintBreak"	"scl"
	"ChooseBinding_PrintScreen"	"prt"
	"ChooseBinding_LeftMouseInitial" "V"
	"ChooseBinding_MiddleMouseInitial"	"M"
	"ChooseBinding_RightMouseInitial" "H"

	"SteamUI_Skip"						"SPRING OVER"
	"SteamUI_ProcessShader_Title"		"Behandling af shadercache"
	"SteamUI_ProcessShader_Description"	"Det tager lidt tid at behandle shadercachen. Vil du springe det over?"
	"Steam_WaitingForShaderCache"	"Shadere behandles – i øjeblikket på {i:progress}%"

	"SteamPlay_Warning_Title"                   "Steam Play"
	"SteamPlay_Warning_Text"                    "Dette spil starter med Steam Play ved hjælp af et platformskompatibilitetsværktøj."
	"Library_Details_FieldLabel_2DScrollSwipe"			"Musehjultilstand"
	"Library_Details_FieldLabel_Invert"			"Inverter"
	"ControllerBinding_SoftPress_Invert"	"Inverter tærskel"
	"ControllerBinding_SoftPress_Invert_Description"	"Hvis denne indstilling er slået til, aktiveres bindingen, når den er under tærsklen, i stedet for når den er over tærsklen."
	"ControlerBinding_SoftPress"	"Inverter tærskel"
	"ControllerBinding_SoftPress_Invert_On" "Inverter tærskel - Til"
	"ControllerBinding_SoftPress_Invert_On_Description" "Denne aktivator er aktiveret, når den analoge værdi er under tærsklen."
	"ControllerBinding_SoftPress_Invert_Off" "Inverter tærskel - Fra"
	"ControllerBinding_SoftPress_Invert_Off_Description" "Denne aktivator er aktiveret, når den analoge værdi er over tærsklen."
	"ControllerBinding_SoftPress_Toggle" "Skift"
	"ControllerBinding_SoftPress_Toggle_Description" "\"Slå til\" får denne aktivator til at forblive aktiv, efter der gives slip på den, og indtil den trykkes på igen."
	"ControllerBinding_SoftPress_Toggle_On" "Slå til"
	"ControllerBinding_SoftPress_Toggle_On_Description" "Denne aktivator fortsætter med at være aktiv, efter der gives slip, indtil der trykkes på den igen."
	"ControllerBinding_SoftPress_Toggle_Off" "Slå fra"
	"ControllerBinding_SoftPress_Toggle_Off_Description" "Denne aktivator vil fungere som en traditionel knap, hvor den forbliver aktiveret, indtil knappen slippes."
	"ControllerBinding_SoftPress_Interruptable" "Afbrydelig"
	"ControllerBinding_SoftPress_Interruptable_Description" "Afbrydelige aktivatorer kan sættes på pause eller stoppes af andre aktivatorer. For eksempel kan en aktivator til et langt tryk afbryde en aktivator til et fuldt tryk, så det fulde tryk kun udføres, hvis det lange tryk ikke gør. Hvis aktivatoren ikke sættes som afbrydelig, ignoreres andre aktivatorers virkemåde."
	"ControllerBinding_SoftPress_Interruptable_On" "Afbrydelig - Til"
	"ControllerBinding_SoftPress_Interruptable_On_Description" "Denne aktivator sættes på pause eller aktiveres ikke overhovedet, hvis andre aktivatorer er i gang. Langt tryk, dobbelttryk osv. får den til at vente på, at deres betingelser er opfyldt, før aktivatoren kan aktivere sig selv. Hvis de andre aktivatorer aktiveres, gør denne ikke."
	"ControllerBinding_SoftPress_Interruptable_Off" "Afbrydelig - Fra"
	"ControllerBinding_SoftPress_Interruptable_Off_Description" "Denne aktivator vil ignorere andre aktivatorer og aktiverer/deaktiverer altid, som hvis den var den eneste."
	"ControllerBinding_SoftPress_StartDelay" "Aktiveringsforsinkelse"
	"ControllerBinding_SoftPress_StartDelay_Description" "Efter der trykkes på knappen, vil aktivatoren vente i denne mængde tid, før den aktiverer. Denne forsinkelse vil forskyde hele perioden, knappen holdes nede, så hvis der ikke er angivet nogen deaktiveringsforsinkelse, så er den samlede varighed, knappen holdes nede, uændret men blot forsinket."
	"ControllerBinding_SoftPress_EndDelay" "Deaktiveringsforsinkelse"
	"ControllerBinding_SoftPress_EndDelay_Description" "Efter der gives slip på knappen, vil aktivatoren vente i denne mængde tid, før den deaktiverer. Deaktiveringsforsinkelsen får en knap til at forblive aktiv i længere tid, end den fysisk holdes nede."
	"ControllerBinding_SoftPress_HapticIntensity" "Haptisk styrke"
	"ControllerBinding_SoftPress_HapticIntensity_Description" "Dette indstiller styrken af haptik ved aktivering og deaktivering af aktivatoren."
	"ControllerBinding_SoftPress_HapticIntensity_Off" "Haptisk styrke - Fra"
	"ControllerBinding_SoftPress_HapticIntensity_Off_Description" "Ingen haptik."
	"ControllerBinding_SoftPress_HapticIntensity_Low" "Haptisk styrke - Lav"
	"ControllerBinding_SoftPress_HapticIntensity_Low_Description" "Lav haptik ved aktivering og deaktivering af aktivatoren."
	"ControllerBinding_SoftPress_HapticIntensity_Medium" "Haptisk styrke - Medium"
	"ControllerBinding_SoftPress_HapticIntensity_Medium_Description" "Medium haptik ved aktivering og deaktivering af aktivatoren."
	"ControllerBinding_SoftPress_HapticIntensity_High" "Haptisk styrke - Høj"
	"ControllerBinding_SoftPress_HapticIntensity_High_Description" "Høj haptik ved aktivering og deaktivering af aktivatoren."
	"ControllerBinding_SoftPress_CycleBindings" "Bindinger i rækkefølge"
	"ControllerBinding_SoftPress_CycleBindings_Description" "Bindinger i rækkefølge får denne aktivator til at udføre hver af sine bindinger i den angivne rækkefølge, hver gang den aktiveres. Rækkefølgen afhænger af, i hvilken rækkefølge bindingerne blev valgt."
	"ControllerBinding_SoftPress_CycleBindings_On" "Bindinger i rækkefølge - Til"
	"ControllerBinding_SoftPress_CycleBindings_On_Description" "Når det er slået til, får det denne aktivator til at udføre hver binding i den angivne rækkefølge, hver gang den aktiveres."
	"ControllerBinding_SoftPress_CycleBindings_Off" "Bindinger i rækkefølge - Fra"
	"ControllerBinding_SoftPress_CycleBindings_Off_Description" "Når det er slået fra, udføres alle bindinger på samme tid."
	"ControllerBinding_SoftPress_HoldRepeats" "Hold nede for at gentage (Turbo)"
	"ControllerBinding_SoftPress_HoldRepeats_Description" "Turbo får denne aktivator til at aktivere og deaktivere meget hurtigt, mens den holdes nede. Kan bruges sammen med funktionen \"Bindinger i rækkefølge\"."
	"ControllerBinding_SoftPress_HoldRepeats_On" "Hold nede for at gentage (Turbo) - Til"
	"ControllerBinding_SoftPress_HoldRepeats_On_Description" "Turbo får denne aktivator til at aktivere og deaktivere meget hurtigt, mens den holdes nede. Kan bruges sammen med funktionen \"Bindinger i rækkefølge\"."
	"ControllerBinding_SoftPress_HoldRepeats_Off" "Hold nede for at gentage (Turbo) - Fra"
	"ControllerBinding_SoftPress_HoldRepeats_Off_Description" "Når den er slået fra, udløses gentagelse ikke, når knappen holdes nede."
	"ControllerBinding_SoftPress_RepeatRate" "Gentagelseshastighed"
	"ControllerBinding_SoftPress_RepeatRate_Description" "Denne slider angiver turbofunktionens hastighed."

	"ControllerBinding_ModeDropDown_FlickStick" "Inputtype - Svirp med joystick"
	"ControllerBinding_ModeDropDown_FlickStick_Description" "Dette er baseret på styringssammensætningen, der er udviklet af youtuberen Jibb Smart. Det bruger den første vipning af joysticket for at \"svirpe\" kameraet baseret på joystickets position. \"Op\" svarer til at forblive stille, og \"ned\" er en 180-graders drejning i spillet. Efter denne første fase vil hver yderligere rotation af joysticket dreje kameraet 1-1. Dette er beregnet til at blive kombineret med gyroskop til lodret musebevægelse."
	"ControllerBinding_FlickStickClick" "Klikbinding"
	"ControllerBinding_FlickStickClick_Description"	"Denne handling udføres, når du klikker med joysticket."
	"ControllerBinding_FlickStickOuterRing" "Binding for ydre ring"
	"ControllerBinding_FlickStickOuterRing_Description"	"Denne handling udføres, når svirpet er aktivt"
	"ControllerBinding_EdgeBindingRadiusFlickStick" "Joystick - Svirperadius"
	"ControllerBinding_EdgeBindingRadiusFlickStick_Description" "Joystickets svirphandling udløses, nå