rd_ChordButton_LeftTriggerThreshold" "Genvejsknap"
	"ControllerBinding_Chord_ChordButton_LeftTriggerThreshold_Description" "Denne knap skal trykkes på, når aktivatoren er aktiveret, ellers vil den ikke aktivere."
	"ControllerBinding_Chord_ChordButton_RightTriggerThreshold" "Genvejsknap"
	"ControllerBinding_Chord_ChordButton_RightTriggerThreshold_Description" "Denne knap skal trykkes på, når aktivatoren er aktiveret, ellers vil den ikke aktivere."
	"ControllerBinding_Chord_ChordButton_JoystickClick" "Genvejsknap"
	"ControllerBinding_Chord_ChordButton_JoystickClick_Description" "Denne knap skal trykkes på, når aktivatoren er aktiveret, ellers vil den ikke aktivere."
	"ControllerBinding_Chord_ChordButton_A" "Genvejsknap"
	"ControllerBinding_Chord_ChordButton_A_Description" "Denne knap skal trykkes på, når aktivatoren er aktiveret, ellers vil den ikke aktivere."
	"ControllerBinding_Chord_ChordButton_B" "Genvejsknap"
	"ControllerBinding_Chord_ChordButton_B_Description" "Denne knap skal trykkes på, når aktivatoren er aktiveret, ellers vil den ikke aktivere."
	"ControllerBinding_Chord_ChordButton_X" "Genvejsknap"
	"ControllerBinding_Chord_ChordButton_X_Description" "Denne knap skal trykkes på, når aktivatoren er aktiveret, ellers vil den ikke aktivere."
	"ControllerBinding_Chord_ChordButton_Y" "Genvejsknap"
	"ControllerBinding_Chord_ChordButton_Y_Description" "Denne knap skal trykkes på, når aktivatoren er aktiveret, ellers vil den ikke aktivere."
	"ControllerBinding_Chord_ChordButton_Select" "Genvejsknap"
	"ControllerBinding_Chord_ChordButton_Select_Description" "Denne knap skal trykkes på, når aktivatoren er aktiveret, ellers vil den ikke aktivere."
	"ControllerBinding_Chord_ChordButton_Start" "Genvejsknap"
	"ControllerBinding_Chord_ChordButton_Start_Description" "Denne knap skal trykkes på, når aktivatoren er aktiveret, ellers vil den ikke aktivere."
	"ControllerBinding_Chord_ChordButton_GyroTouchLeft" "Genvejsknap"
	"ControllerBinding_Chord_ChordButton_GyroTouchLeft_Description" "Denne knap skal trykkes på, når aktivatoren er aktiveret, ellers vil den ikke aktivere."
	"ControllerBinding_Chord_ChordButton_GyroTouchRight" "Genvejsknap"
	"ControllerBinding_Chord_ChordButton_GyroTouchRight_Description" "Denne knap skal trykkes på, når aktivatoren er aktiveret, ellers vil den ikke aktivere."
	"ControllerBinding_Chord_ChordButton_GyroClickLeft" "Genvejsknap"
	"ControllerBinding_Chord_ChordButton_GyroClickLeft_Description" "Denne knap skal trykkes på, når aktivatoren er aktiveret, ellers vil den ikke aktivere."
	"ControllerBinding_Chord_ChordButton_GyroClickRight" "Genvejsknap"
	"ControllerBinding_Chord_ChordButton_GyroClickRight_Description" "Denne knap skal trykkes på, når aktivatoren er aktiveret, ellers vil den ikke aktivere."


	"ControllerBinding_AddActivatorButton"	"Tilføj aktivator"
	"ControllerBinding_AddActivatorButton_Description"	"Du kan tilføje yderligere aktivatorer til dette input."

	"ControllerBinding_ActivatorButton0"	"Aktivator"
	"ControllerBinding_ActivatorButton0_Description"	"Vælg denne aktivator."
	"ControllerBinding_ActivatorButton1"	"Aktivator"
	"ControllerBinding_ActivatorButton1_Description"	"Vælg denne aktivator."
	"ControllerBinding_ActivatorButton2"	"Aktivator"
	"ControllerBinding_ActivatorButton2_Description"	"Vælg denne aktivator."
	"ControllerBinding_ActivatorButton3"	"Aktivator"
	"ControllerBinding_ActivatorButton3_Description"	"Vælg denne aktivator."
	"ControllerBinding_ActivatorButton4"	"Aktivator"
	"ControllerBinding_ActivatorButton4_Description"	"Vælg denne aktivator."
	"ControllerBinding_ActivatorButton5"	"Aktivator"
	"ControllerBinding_ActivatorButton5_Description"	"Vælg denne aktivator."
	"ControllerBinding_ActivatorButton6"	"Aktivator"
	"ControllerBinding_ActivatorButton6_Description"	"Vælg denne aktivator."
	"ControllerBinding_ActivatorButton7"	"Aktivator"
	"ControllerBinding_ActivatorButton7_Description"	"Vælg denne aktivator."
	"ControllerBinding_ActivatorButton8"	"Aktivator"
	"ControllerBinding_ActivatorButton8_Description"	"Vælg denne aktivator."
	"ControllerBinding_ActivatorButton9"	"Aktivator"
	"ControllerBinding_ActivatorButton9_Description"	"Vælg denne aktivator."
	"ControllerBinding_ActivatorButton10"	"Aktivator"
	"ControllerBinding_ActivatorButton10_Description"	"Vælg denne aktivator."
	"ControllerBinding_ActivatorButton11"	"Aktivator"
	"ControllerBinding_ActivatorButton11_Description"	"Vælg denne aktivator."
	"ControllerBinding_ActivatorButton12"	"Aktivator"
	"ControllerBinding_ActivatorButton12_Description"	"Vælg denne aktivator."

	"ControllerBinding_IncompatibleConfig" "Konfigurationsversionen er inkompatibel med spil"

	"Library_PresetToCopyToActionSet_CodeLabel"	"Handlingssæt der skal kopieres ind i det nye handlingsæt"

	"Controller_SetLEDColor_Title"						"SÆT LYSINDSTILLINGER"
	"Controller_SetLEDColor_Description"				"Vælg indstillingerne for denne lystilknytning."
	"Controller_Light_Setting"							"Lysindstilling:"
	"Controller_Light_Setting_Custom"					"Tilpasset indstilling"
	"Controller_Light_Setting_Default"					"Standard-brugerindstilling"
	"Controller_Light_Setting_XinputSlot"				"Standardindstilling for XInput-pladsnummer"
	"Controller_SelectLEDColor_OK"						"OK"
	"Controller_SelectLEDColor_Cancel"					"ANNULLER"

	"Library_EditBigPicture_Warning_Title"				"Advarsel"
	"Library_EditBigPicture_Warning_Description"		"Vi fraråder mod at ændre disse styringer.\n \nAt fjerne bevægelses- eller valghandlinger vil resultere i, at Steam Controlleren, inklusiv dine ændringer, ikke kan bruges i Big Picture-grænsefladen."

	"Library_Details_ConfigConversionWarning_Title"			"Advarsel"
	"Library_Details_ConfigConversionWarning_Desc"	"Du forsøger at indlæse en konfiguration designet til en anden controllertype. \nVi vil forsøge at konvertere konfigurationen til at passe med din nuværende controller. \nDer vil muligvis være tab af data, da ikke alle controllere deler alle funktioner."

	"controller_none"									"Ingen"
	"controller_unknown"								"Ukendt controller"
	"controller_steamcontroller_unknown"				"Steam Controller"
	"controller_steamcontroller_gordon" 				"Steam Controller"
	"controller_generic"								"Almindelig gamepad"
	"controller_xbox360"								"Xbox 360-controller"
	"controller_xboxone"								"Xbox One-controller"
	"controller_xboxelite"								"Xbox One Elite-controller"
	"controller_ps3"									"PlayStation 3-controller"
	"controller_ps4"									"PlayStation 4-controller"
	"controller_ps5"									"PlayStation 5-controller"
	"controller_wii"									"Wii-controller"
	"controller_apple"									"Apple-controller"
	"controller_android"								"Android-controller"
	"controller_switch_pro"								"Nintendo Switch Pro-controller"
	"controller_switch_joycon_pair"						"Nintendo Switch Joy-Con Pair"
	"controller_mobile_touch"							"Touch-controller til Remote Play"
	
	"controller_xinput"									"XInput-controller"
	"controller_ps2"									"PlayStation 2-controller"
	"controller_switch_joycon"							"Nintendo Switch Joy-Con"
	"controller_switch_pro_generic"						"Tredjeparts Nintendo Switch Pro-controller"
	"controller_gamecube"								"Nintendo Gamecube Controller"
	"controller_n64"									"Nintendo 64 Controller"
	"controller_snes"									"Super Nintendo Controller"
	"controller_nes"									"Nintendo Classic Controller"

	"KeyboardHeader_StoreSearch"	"Butikssøgning"
	"KeyboardDetail_SearchResultCount"	"{i:searchresultcount} fundet"
	"KeyboardHeader_AccountName"	"Indtast kontonavn"
	"KeyboardHeader_Password"	"Indtast din adgangskode"
	"KeyboardHeader_SteamGuardCode"	"Indtast Steam Guard-kode"
	"KeyboardHeader_LibrarySearch" "Bibliotekssøgning"

	"UI_Paste_UnknownSource"	"[Indsæt]"
	"UI_Paste_CDKey"			"[Indsæt CD-nøgle]"
	"UI_Paste_URL"				"[Indsæt URL]"
	"UI_Paste_Selection"		"[Indsæt]"				// comes from a text entry selection; full string too long to fit in UI in English

	"ContentFrame_FriendsCount" "{i:pendingchats}"
	"ContentFrame_CommunityCount" "{i:communitycount}"
	"ContentFrame_InboxCount" "{i:inboxcount}"
	"ContentFrame_DownloadsCount" "{i:downloads}"
	"ContentFrame_SystemCount" "{i:systemims}"

	"group_item_groupname" 	"{s:group_name}"
	"group_item_in_chat"	"{d:numfriendsinchat} chatter"
	"group_item_in_game" 	"{d:numfriendsingame} i spil"
	"group_item_online" 	"{d:numfriendsonline} online"
	"group_item_unread"		"{d:unread_chats}"

	"groups_no_groups_message"	"Du er ikke et medlem af nogen Steam-grupper. Søg efter nogle på Steam-fællesskabet"
	"groups_no_groups_message_offline"	"Grupper er ikke tilgængelige i offline-tilstand."
	"friends_no_friends_message" "Du har ikke tilføjet nogen Steam-venner. Søg efter nogle på Steam-fællesskabet"
	"friends_no_friends_message_offline" "Venner er ikke tilgængelige i offline-tilstand."
	"friends_filter_friends"			 "Filtrer venner"

	"friend_item_friendname"	"{s:friend_name}"
	"friend_item_persona_state"		"{s:persona_state_label}"
	"friend_item_status_detail"		"{s:status_detail}"
	"friend_item_lobby_invite"	"Invitation!"

	"friends_chat_accept_game_invite"	"Accepter spilinvitation"
	"friends_chat_game_invite_details"	"{s:chatfriendname} har inviteret dig til at spille {s:game_invite_game_name}"

	"friends_chat_voice_chat_invite"	"Accepter stemmechat"
	"friends_chat_voice_chat_details"	"{s:chatfriendname} har inviteret dig til stemmechat"

	"friends_chat_voice_call_started"	"Stemmeopkald med {s:chatfriendname} begyndt."
	"friends_chat_voice_call_ended"		"Stemmeopkald med {s:chatfriendname} afsluttet."

	"friends_chat_voice_call_calling"	"Ringer til {s:chatfriendname}..."

	"friends_chat_cancel_voice_call"	"Annuller opkald"

	"friends_chat_start_voice_chat"		"Start stemmechat"
	"friends_chat_end_voice_chat"		"Afslut stemmechat"
	"friends_chat_hold_voice_chat"		"På pause"
	"friends_chat_resume_voice_chat"	"Genoptag"

	"Friends_Menu_Profile"		"Din profil"
	"friends_menu_chat"		"Chat"
	"friends_menu_manage"	"Administrer"

	"friends_list_recent_container_title"	"Nylige chats"
	"friends_list_igname_container_title"	"I spil"
	"friends_list_online_container_title"	"Online"
	"friends_list_offline_container_title"	"Offline"

	"friends_groups_recent_container_title"	"Nylige gruppechats"
	"friends_groups_container_title"		"Grupper"

	"friends_show_profile_options"		"Indstillinger for lokal profil"
	"friends_show_profile_options_unavailable"	"Profilindstillingerne kan midlertidigt ikke ændres, mens man er inde i vennemenuen."

	"friends_search"				"Vennesøgning"
	"friends_search_unavailable"	"Vennesøgning er midlertidigt utilgængeligt."

	"friends_edit_persona_header"	"Rediger profilstatus"

	"FriendsInvitesBP_AcceptAll"	"Accepter alle"
	"FriendsInvitesBP_IgnoreAll"	"Ignorer alle"

	"FriendsInvites_AcceptAllFriends_Footer"	"ACCEPTER ALLE VENNEINVITATIONER"
	"FriendsInvites_IgnoreAllFriends_Footer"	"IGNORER ALLE VENNEINVITATIONER"
	"FriendsInvites_AcceptAllGroups_Footer"		"ACCEPTER ALLE GRUPPEINVITATIONER"
	"FriendsInvites_IgnoreAllGroups_Footer"		"IGNORER ALLE GRUPPEINVITATIONER"



	"SignalLossHelper_Title" "AT SIKRE DEN BEDSTE YDELSE"
	"SignalLossHelper_Description" "For at sikre den bedst mulige forsinkelse og fejlfrie oplevelse så forbind venligst controllerens trådløse modtager til dens inkluderede forlænger. Sørg for at der er frit mellem controlleren og modtageren, og flyt den væk fra systemet for at isolere den fra enhver mulig interferens."

	"Create_Account_Wizard"			"Opret konto"
	"Forgot_Account_Name_Wizard"	"Glemt kontonavn"
	"Login_Help_Wizard"				"Login-hjælp"
	"Password_Recovery_Wizard"		"Adgangskodegendannelse"
	"AccountName_Recovery_Wizard"	"Kontonavnsgendannelse"
	"Password_Change_Wizard"		"Skift adgangskode"
	"Email_Change_Wizard"			"Skift e-mailadresse"

	"UI_Prelaunch_PlayGame"				"START SPIL"
	"UI_Prelaunch_PlayGame_Keyboard"	"START SPIL ALLIGEVEL"
	"UI_Prelaunch_InstallGame"				"INSTALLER SPIL"
	"UI_Prelaunch_InstallGame_Keyboard"	"INSTALLER ALLIGEVEL"
	"UI_Prelaunch_Cancel"				"ANNULLER"

	"Friends_Search_Header"			"Søg efter venner"
	"Friends_Search_ResultCount"	"{i:searchresultcount} fundet"

	"SteamUI_AppTypeGame"			"spil"
	"SteamUI_AppTypeGameInitialCaps"	"Spil"
	"SteamUI_AppTypeGamePlural"		"spil"
	"SteamUI_AppTypeGameInitialCapsPlural"	"Spil"
	"SteamUI_AppTypeApplication"		"applikation"
	"SteamUI_AppTypeApplicationInitialCaps"	"Applikation"
	"SteamUI_AppTypeApplicationPlural"		"applikationer"
	"SteamUI_AppTypeApplicationInitialCapsPlural"	"Applikationer"
	"SteamUI_AppTypeTool"			"værktøj"
	"SteamUI_AppTypeToolInitialCaps"	"Værktøj"
	"SteamUI_AppTypeToolPlural"		"værktøjer"
	"SteamUI_AppTypeToolInitialCapsPlural"	"Værktøjer"
	"SteamUI_AppTypeDemo"			"demo"
	"SteamUI_AppTypeDemoInitialCaps"	"Demo"
	"SteamUI_AppTypeDemoPlural"		"demoer"
	"SteamUI_AppTypeDemoInitialCapsPlural"	"Demoer"
	"SteamUI_AppTypeMediaFile"		"medie"
	"SteamUI_AppTypeMediaFileInitialCaps"	"Medie"
	"SteamUI_AppTypeMediaFilePlural"		"medier"
	"SteamUI_AppTypeMediaFileInitialCapsPlural"	"Medier"
	"SteamUI_AppTypeDlc"			"DLC"
	"SteamUI_AppTypeDlcInitialCaps"		"DLC"
	"SteamUI_AppTypeDlcPlural"		"DLC"
	"SteamUI_AppTypeDlcInitialCapsPlural"	"DLC"
	"SteamUI_AppTypeGuide"			"guide"
	"SteamUI_AppTypeGuideInitialCaps"	"Guide"
	"SteamUI_AppTypeGuidePlural"		"guider"
	"SteamUI_AppTypeGuideInitialCapsPlural"	"Guider"
	"SteamUI_AppTypeDriver"			"driver"
	"SteamUI_AppTypeDriverInitialCaps"	"Driver"
	"SteamUI_AppTypeDriverPlural"		"drivere"