o cached
    <A HREF="../../../org/hibernate/cache/access/EntityRegionAccessStrategy.html" title="interface in org.hibernate.cache.access"><CODE>entity</CODE></A> and
    <A HREF="../../../org/hibernate/cache/access/CollectionRegionAccessStrategy.html" title="interface in org.hibernate.cache.access"><CODE>collection</CODE></A> data.&nbsp;</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><A HREF="#org.hibernate.cache.impl"><B>org.hibernate.cache.impl</B></A></TD>
<TD>&nbsp;&nbsp;</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><A HREF="#org.hibernate.cache.impl.bridge"><B>org.hibernate.cache.impl.bridge</B></A></TD>
<TD>&nbsp;&nbsp;</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><A HREF="#org.hibernate.cache.infinispan"><B>org.hibernate.cache.infinispan</B></A></TD>
<TD>&nbsp;&nbsp;</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><A HREF="#org.hibernate.cache.infinispan.access"><B>org.hibernate.cache.infinispan.access</B></A></TD>
<TD>&nbsp;&nbsp;</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><A HREF="#org.hibernate.cache.infinispan.collection"><B>org.hibernate.cache.infinispan.collection</B></A></TD>
<TD>&nbsp;&nbsp;</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><A HREF="#org.hibernate.cache.infinispan.entity"><B>org.hibernate.cache.infinispan.entity</B></A></TD>
<TD>&nbsp;&nbsp;</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><A HREF="#org.hibernate.cache.infinispan.impl"><B>org.hibernate.cache.infinispan.impl</B></A></TD>
<TD>&nbsp;&nbsp;</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><A HREF="#org.hibernate.cache.infinispan.query"><B>org.hibernate.cache.infinispan.query</B></A></TD>
<TD>&nbsp;&nbsp;</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><A HREF="#org.hibernate.cache.infinispan.timestamp"><B>org.hibernate.cache.infinispan.timestamp</B></A></TD>
<TD>&nbsp;&nbsp;</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><A HREF="#org.hibernate.cache.infinispan.util"><B>org.hibernate.cache.infinispan.util</B></A></TD>
<TD>&nbsp;&nbsp;</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><A HREF="#org.hibernate.cfg"><B>org.hibernate.cfg</B></A></TD>
<TD>
        This package defines APIs for configuring Hibernate, and classes
        for building the Hibernate configuration-time metamodel.&nbsp;</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><A HREF="#org.hibernate.engine"><B>org.hibernate.engine</B></A></TD>
<TD>
        This package contains classes that are "shared" by other packages, 
        and implementations of some key algorithms.&nbsp;</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><A HREF="#org.hibernate.id"><B>org.hibernate.id</B></A></TD>
<TD>
        This package contains internal implementation classes for the
        main API interfaces.&nbsp;</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><A HREF="#org.hibernate.impl"><B>org.hibernate.impl</B></A></TD>
<TD>
        This package contains implementations of the
        central Hibernate APIs, especially the
        Hibernate session.&nbsp;</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><A HREF="#org.hibernate.persister.collection"><B>org.hibernate.persister.collection</B></A></TD>
<TD>
        This package abstracts the persistence mechanism for collections.&nbsp;</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><A HREF="#org.hibernate.persister.entity"><B>org.hibernate.persister.entity</B></A></TD>
<TD>
        This package abstracts persistence mechanisms for
        entities, and defines the Hibernate runtime
        metamodel.&nbsp;</TD>
</TR>
</TABLE>
&nbsp;
<P>
<A NAME="org.hibernate.action"><!-- --></A>
<TABLE BORDER="1" WIDTH="100%" CELLPADDING="3" CELLSPACING="0" SUMMARY="">
<TR BGCOLOR="#CCCCFF" CLASS="TableHeadingColor">
<TH ALIGN="left" COLSPAN="2"><FONT SIZE="+2">
Classes in <A HREF="../../../org/hibernate/cache/package-summary.html">org.hibernate.cache</A> used by <A HREF="../../../org/hibernate/action/package-summary.html">org.hibernate.action</A></FONT></TH>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><B><A HREF="../../../org/hibernate/cache/class-use/CacheException.html#org.hibernate.action"><B>CacheException</B></A></B>

<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Something went wrong in the cache</TD>
</TR>
</TABLE>
&nbsp;
<P>
<A NAME="org.hibernate.cache"><!-- --></A>
<TABLE BORDER="1" WIDTH="100%" CELLPADDING="3" CELLSPACING="0" SUMMARY="">
<TR BGCOLOR="#CCCCFF" CLASS="TableHeadingColor">
<TH ALIGN="left" COLSPAN="2"><FONT SIZE="+2">
Classes in <A HREF="../../../org/hibernate/cache/package-summary.html">org.hibernate.cache</A> used by <A HREF="../../../org/hibernate/cache/package-summary.html">org.hibernate.cache</A></FONT></TH>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><B><A HREF="../../../org/hibernate/cache/class-use/Cache.html#org.hibernate.cache"><B>Cache</B></A></B>

<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<B>Deprecated.</B>&nbsp;<I>As of 3.3; see <a href="../../../org/hibernate/cache/package.html"/> for details.</I></TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><B><A HREF="../../../org/hibernate/cache/class-use/CacheConcurrencyStrategy.html#org.hibernate.cache"><B>CacheConcurrencyStrategy</B></A></B>

<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<B>Deprecated.</B>&nbsp;<I>As of 3.3; see <a href="../../../org/hibernate/cache/package.html"/> for details.</I></TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><B><A HREF="../../../org/hibernate/cache/class-use/CacheDataDescription.html#org.hibernate.cache"><B>CacheDataDescription</B></A></B>

<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Describes attributes regarding the type of data to be cached.</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><B><A HREF="../../../org/hibernate/cache/class-use/CacheException.html#org.hibernate.cache"><B>CacheException</B></A></B>

<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Something went wrong in the cache</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><B><A HREF="../../../org/hibernate/cache/class-use/CacheProvider.html#org.hibernate.cache"><B>CacheProvider</B></A></B>

<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<B>Deprecated.</B>&nbsp;<I>As of 3.3; see <a href="../../../org/hibernate/cache/package.html"/> for details.</I></TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><B><A HREF="../../../org/hibernate/cache/class-use/CollectionRegion.html#org.hibernate.cache"><B>CollectionRegion</B></A></B>

<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Defines the contract for a cache region which will specifically be used to
 store collection data.</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><B><A HREF="../../../org/hibernate/cache/class-use/DelegatingRegionFactory.html#org.hibernate.cache"><B>DelegatingRegionFactory</B></A></B>

<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><B><A HREF="../../../org/hibernate/cache/class-use/EntityRegion.html#org.hibernate.cache"><B>EntityRegion</B></A></B>

<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Defines the contract for a cache region which will specifically be used to
 store entity data.</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><B><A HREF="../../../org/hibernate/cache/class-use/GeneralDataRegion.html#org.hibernate.cache"><B>GeneralDataRegion</B></A></B>

<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contract for general-purpose cache regions.</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><B><A HREF="../../../org/hibernate/cache/class-use/OptimisticCacheSource.html#org.hibernate.cache"><B>OptimisticCacheSource</B></A></B>

<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contract for sources of optimistically lockable data sent to the second level
 cache.</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><B><A HREF="../../../org/hibernate/cache/class-use/QueryCache.html#org.hibernate.cache"><B>QueryCache</B></A></B>

<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Defines the contract for caches capable of storing query results.</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><B><A HREF="../../../org/hibernate/cache/class-use/QueryCacheFactory.html#org.hibernate.cache"><B>QueryCacheFactory</B></A></B>

<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Defines a factory for query cache instances.</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><B><A HREF="../../../org/hibernate/cache/class-use/QueryKey.html#org.hibernate.cache"><B>QueryKey</B></A></B>

<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A key that identifies a particular query with bound parameter values.</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><B><A HREF="../../../org/hibernate/cache/class-use/QueryResultsRegion.html#org.hibernate.cache"><B>QueryResultsRegion</B></A></B>

<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Defines the contract for a cache region which will specifically be used to
 store query results.</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><B><A HREF="../../../org/hibernate/cache/class-use/ReadWriteCache.Lock.html#org.hibernate.cache"><B>ReadWriteCache.Lock</B></A></B>

<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A soft lock which supports concurrent locking,
 timestamped with the time it was released</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><B><A HREF="../../../org/hibernate/cache/class-use/ReadWriteCache.Lockable.html#org.hibernate.cache"><B>ReadWriteCache.Lockable</B></A></B>

<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><B><A HREF="../../../org/hibernate/cache/class-use/Region.html#org.hibernate.cache"><B>Region</B></A></B>

<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Defines a contract for accessing a particular named region within the 
 underlying cache implementation.</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><B><A HREF="../../../org/hibernate/cache/class-use/RegionFactory.html#org.hibernate.cache"><B>RegionFactory</B></A></B>

<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Contract for building second level cache regions.</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><B><A HREF="../../../org/hibernate/cache/class-use/TimestampsRegion.html#org.hibernate.cache"><B>TimestampsRegion</B></A></B>

<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Defines the contract for a cache region which will specifically be used to
 store entity "update timestamps".</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><B><A HREF="../../../org/hibernate/cache/class-use/TransactionalDataRegion.html#org.hibernate.cache"><B>TransactionalDataRegion</B></A></B>

<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Defines contract for regions which hold transactionally-managed data.</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><B><A HREF="../../../org/hibernate/cache/class-use/UpdateTimestampsCache.html#org.hibernate.cache"><B>UpdateTimestampsCache</B></A></B>

<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Tracks the timestamps of the most recent updates to particular tables.</TD>
</TR>
</TABLE>
&nbsp;
<P>
<A NAME="org.hibernate.cache.access"><!-- --></A>
<TABLE BORDER="1" WIDTH="100%" CELLPADDING="3" CELLSPACING="0" SUMMARY="">
<TR BGCOLOR="#CCCCFF" CLASS="TableHeadingColor">
<TH ALIGN="left" COLSPAN="2"><FONT SIZE="+2">
Classes in <A HREF="../../../org/hibernate/cache/package-summary.html">org.hibernate.cache</A> used by <A HREF="../../../org/hibernate/cache/access/package-summary.html">org.hibernate.cache.access</A></FONT></TH>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><B><A HREF="../../../org/hibernate/cache/class-use/CacheException.html#org.hibernate.cache.access"><B>CacheException</B></A></B>

<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Something went wrong in the cache</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><B><A HREF="../../../org/hibernate/cache/class-use/CollectionRegion.html#org.hibernate.cache.access"><B>CollectionRegion</B></A></B>

<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Defines the contract for a cache region which will specifically be used to
 store collection data.</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><B><A HREF="../../../org/hibernate/cache/class-use/EntityRegion.html#org.hibernate.cache.access"><B>EntityRegion</B></A></B>

<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Defines the contract for a cache region which will specifically be used to
 store entity data.</TD>
</TR>
</TABLE>
&nbsp;
<P>
<A NAME="org.hibernate.cache.impl"><!-- --></A>
<TABLE BORDER="1" WIDTH="100%" CELLPADDING="3" CELLSPACING="0" SUMMARY="">
<TR BGCOLOR="#CCCCFF" CLASS="TableHeadingColor">
<TH ALIGN="left" COLSPAN="2"><FONT SIZE="+2">
Classes in <A HREF="../../../org/hibernate/cache/package-summary.html">org.hibernate.cache</A> used by <A HREF="../../../org/hibernate/cache/impl/package-summary.html">org.hibernate.cache.impl</A></FONT></TH>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><B><A HREF="../../../org/hibernate/cache/class-use/CacheDataDescription.html#org.hibernate.cache.impl"><B>CacheDataDescription</B></A></B>

<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Describes attributes regarding the type of data to be cached.</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><B><A HREF="../../../org/hibernate/cache/class-use/CacheException.html#org.hibernate.cache.impl"><B>CacheException</B></A></B>

<BR>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Something went wrong in the cache</TD>
</TR>
<TR BGCOLOR="white" CLASS="TableRowColor">
<TD><B><A HREF="../../../org/hibernate/cache/class-use/CollectionRe